# IntelliJ IDEA
.idea/

# Maven
target/
*.iml

# TestNG
test-output/

# Cucumber
output/

#Allure
.allure
allure-results

# JUnit
/target/

# Compiled class file
*.class

# Log file
*.log
*.xml
*.ist
*.txt
# Selenide screenshot
/build
